.give-you-glory-regular {
    font-family: "Give You Glory", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
:root {
    --bg-color: #090909;
    --text-color: #ffffff;
    --accent-color: #ffffff;
}

body.light-mode {
    --bg-color: #ffffff;
    --text-color: #000000;
    --accent-color: #000000;
}
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.5s ease;
    font-family: 'Give You GLory', cursive;
    padding: 30px;
    margin: 0;
}

#overlay {
    position: absolute;
    top: 40%;
    left: 50%; transform: translate(-50%, -50%);
    text-align: center;
}

#overlay p {
    font-family: 'Courier Prime', 'Courier', monospace;
}

#overlay h1 {
    margin-bottom: 40px;
}

#keywordInput {
    background: transparent;
    border: none; 
    color: var(--accent-color);
    font-size: 16px;
    font-family: 'Give You GLory';
    text-align: center;
    padding-left: 10px;
    outline: none;
}


#wall-container {
    padding: 20px;
    display: block;
    margin-top: 30px;
    flex-wrap: wrap;
    gap: 5px;
    line-height: 1.1;
    font-size: 13px;
    opacity: 0.7;
    font-family: 'Courier Prime', 'Courier', monospace;
    text-align: justify;
    max-width: 900px;
    margin: 40px auto;
}

.word {
    display: inline-block;
    margin-right: 6px; 
    margin-bottom: 4px;
    transition: opacity 0.6s ease, transform 0.8s ease;
    cursor: crosshair;
}


/*.erased class */
.erased {
    opacity: 0;
    transform: scale(0.3) rotate(5deg);
    pointer-events: none; 
    visibility: hidden; 
}

.word:hover {
    color: rgb(127, 130, 127);
    transform: scale(1.1);
}

/* Sidebar **/
#sidebar {
    position: fixed;
    top: 0;
    left: 50%;
    left: 20px; /* Adjust as needed to align with text wall */
    transform: none; /* Remove centering */
    max-width: 900px; /* Matches #wall-container */
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box; /* Ensures padding doesn't add to width */
    z-index: 100;
}

#sidebar button {
    background-color: transparent;
    color: var(--text-color);
    font-size: 16px;
    font-family: 'Give You GLory', cursive;
    border: none;
    cursor: pointer;
    padding: 10px; /* Vertical padding 10px, Horizontal 0 */
    margin-right: 15px; /* Space between buttons instead of padding */
}

body.light-mode {
    background-color: white;
    color: black;
}

body.light-mode #overlay h1 {
    color: black;
}

body.light-mode #keywordInput {
    color: black;
}

body.light-mode #themeToggle {
     background-color: transparent;
    color: black;
    font-size: 16px;
}

body.light-mode #sidebar button {
    background-color: transparent;
   color: black;
}

#instruction {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 16px;
    color: #888;
}

